body, html {
    margin: 0;
    padding: 0;
    font-family: 'Calibri';
    box-sizing: border-box;
    justify-content: center;
    align-items:center;
    text-align: center;
}



/* General navbar styling */
nav {
    position: fixed;
    width:100%;
    top: 0;
    background: rgba(0, 0, 0, 0.9);
    padding: 10px;
    z-index: 1000;
    font-size: 1.5rem;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 12px 20px;
    display: block;
    transition: background 0.3s;
}

.navbar a:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Dropdown styles */
.dropdown-menu,
.side-menu {
    list-style: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    top: 100%;
    left: 0;
    display: none;
    min-width: max-content;
    width:100%;
    padding: 0;
}

.dropdown-menu li {
    position: relative;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    padding: 10px 15px;
    white-space: nowrap;
}

.dropdown-menu a:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Side dropdown */
.side-menu {
    left: 100%;
    top: 0;
    display: none;
}

.dropdown-side:hover .side-menu {
    display: block;
}



.hero { 
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#011A5B;
    color: white;
    text-align: center;

}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 55, 255, 0.27);
    z-index: 2;

    animation:hero-overlay-animation linear forwards;
    animation-timeline: view();
    animation-range: exit;
}

.hero-content {
    position: relative;
    z-index: 3;;

    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -200px;
}

.hero-content h1 {
    font-size: 7.5rem;
    font-weight: bolder;
    position: relative;
    top: -10%;
    font-family: 'Confine';
}

.hero-content h2 {
    font-size: 3.75rem;
}

.her0-content h3 {
    font-size: 3rem;
}

.hero-img {
    grid-column: 1 / -1;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
    z-index: 1;

    animation:hero-img-animation linear forwards;
    animation-timeline: view();
    animation-range: exit;
}

@keyframes fade-out {
    to {opacity: 0;}
}

@keyframes hero-img-animation {
    85%, 100% {opacity: 0; scale:2.6}
}

@keyframes hero-overlay-animation {
    85%, 100% {opacity: 0; scale:2.6}
}

.intro {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center; /* Centers content vertically */
    justify-content: center;
    background: #011A5B;
    color: white;
}

.intro-content {
    max-width: 800px;
    line-height: 1.6;
    text-align: center;
    padding-top: 50px;
    padding-bottom:50px;
    font-size :1.5rem;
    z-index:5;
}

/* Image Transition Section */
.section-2-images {
    background: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
    background: url('medicalstudentimage.jpg') center/cover no-repeat;
    background-attachment: fixed;
    color: white;
}

.mission-content {
    top: 0;
    width: 800px;
    height: auto;
    background: white;
    opacity: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    line-height: 1.6;
    padding:50px;
}


.mission-content h2 {
    color: #e25d80;
    font-weight: bold;
    font-size: 6rem;
    opacity:100%;
    margin:0;
}

.mission-content h3 {
    color: black;
    font-size: 1.5rem !important;
    opacity:100%
}


.section5 {
    position: relative;
    width: 100%;
    padding: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #011A5B;
    color: white;
}

.section5 h3 {
    max-width: 50%;
    font-size: 1.5rem;
    line-height: 1.6;
}

.section8 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #011A5B;
    color: white;
    background: url('human head.jpg') center/cover no-repeat;
}

.imageoverlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 55, 255, 0.27);
    z-index: 0;
}

.section8 h3 {
    position:relative;
    max-width: 25%;
    font-size: 1.5rem;
    line-height: 1.6;
    left: 400px
}



.section10 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #EAF4FC;
    color: black;
    text-align: center;
    padding-bottom:150px;
}

.section10-content {
    max-width: 600px;
    font-size: 1.5rem;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section10 h2 {
    font-size: 5rem;
    font-weight: bold;
}

.section10 h3 {
    font-size: 1.5rem;
    line-height: 1.6;
}

.lfa-image {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.image-text-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height:auto;
    gap: 20px;
}

.image-text-row h3 {
    flex: 1;
    text-align: left;
    width:40%
}

.lfa-small-image {
    width: 40%;
    max-width: 300px;
    height: auto;
}
  
.shrink image {
    width:100px;
    height:auto;
}

.section10 h2, .section11 h3 {
    margin-bottom: 20px;
}
.image-row10 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
    width:100%
}
.image-row11 {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-bottom: 20px;
    width:100%;
    height:300px;
    
}

.img11 {
    width: auto;
    height: 150px;
    object-fit: cover;
    margin-top:70px;
}

.img12 {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.shrink-image {
    width:500px;
    margin-top:130px
    
}

.image10 {
    width: auto;
    height: 300px;
    cursor: pointer;
    border-radius: 10px;
}
.text-box10 {
    max-width: 300px;
    font-size: 18px;
    font-weight: bold;
}
.popup10 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 80%;
    max-height: 80vh;
    overflow-y: auto; /* Add scroll for overflow content */
}
.close {
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

.imaging {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
    text-align: center;
    background: url('imaging background.webp') center/cover no-repeat;
    background-attachment: fixed;
    color: white;
    padding-bottom:100px
}



/* Wrapping the content for proper alignment */
.imaging-content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index:3;
}

.imaging h2 {
    font-size: 6rem;
    line-height: 1.6;
    font-weight: bold;
    width:900px;
    margin-bottom:10px;
}

.imaging h3 {
    font-size: 1.5rem;
    line-height: 1.6;
}


.MRI {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
    text-align: center;
    background: white;
    color: black;
}

.mri-content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MRI h2 {
    font-size: 3rem;
    line-height: 1.6;
    font-weight: bold;
}

.MRI h3 {
    font-size: 1.5rem;
    line-height: 1.6;
}


/* Video Transition Section */
.section-2-videos {
    background: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600vh; /* Increased height for smooth transitions */
    position: relative;
}

.sticky-container2 {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
}

.sticky-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.video1 {
    opacity: 1; /* The first video is visible initially */
}


.MRI-content1 {
    top: 0;
    width: 40%;
    height: auto;
    background: rgba(238, 238, 238, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    z-index: 1;
    margin-top: -500px;
    margin-left:-800px;
}

.MRI-content2 {
    top: 0;
    width: 40%;
    height: auto;
    background: rgba(238, 238, 238, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    z-index: 1;
    margin-top: 300px;
    margin-left:800px;
}

.MRI-content3 {
    top: 0;
    width: 40%;
    height: auto;
    background: rgba(238, 238, 238, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    z-index: 1;
    margin-top: 300px;
    margin-left:-800px;
}

.MRI-content4 {
    top: 0;
    width: 40%;
    height: auto;
    background: rgba(238, 238, 238, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    z-index: 1;
    margin-top: 300px;
    margin-left:800px;
}


.MRI-content1 h3, .MRI-content2 h3, .MRI-content3 h3, .MRI-content4 h3 {
    color: black;
    max-width: 90%;
    font-size: 1.5rem;
    line-height: 1.5;
}

.vector {
    height:300px;
    width:auto;
}

.mricontrast {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background: #EAF4FC;
    color: black;
}

.mricontrast-content {
    max-width: 800px;
    font-size: 1.5rem;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.T {
    width:300px;
}

.mri1image-text-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    gap: 20px;
}

.mri2image-text-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    gap: 0px;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 80%;
    max-height: 80vh;
    overflow-y: auto; /* Add scroll for overflow content */
}
.close {
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

.mricontrast h3 {
    font-size: 1.5rem;
    line-height: 1.6;
}

.mricontrast h2 {
    font-size: 3rem;
    line-height: 1.6;
}

.image-row-magnet {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 10px;
}
.image-row-magnet img {
    width: 100px;
    height: 100px;
}

.text-row-magnet {
    display: flex;
    justify-content: center; /* Ensures text aligns with images */
    gap: 100px;
    margin-top: 5px;
}

.text-row-magnet h3 {
    width: 100px; /* Same width as images */
    text-align: center; /* Centers text below each image */
}

.section16 h3 {
    max-width: 800px;
    font-size: 1.5rem;
    line-height: 1.6;
}

.mricons {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center; /* Centers content vertically */
    justify-content: center;
    background: #EAF4FC;
    color: white;
    padding:300px;
}


.CT {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #011A5B;
    color: white;
}

.CT-content{
    max-width: 800px;
    text-align: center;
}

.CT h2 {
    max-width: 800px;
    font-size: 3rem;
    line-height: 1.6;
    font-weight: bolder;
}

.CT h3 {
    max-width: 800px;
    font-size: 1.5rem;
    line-height: 1.6;
}

.CTPhysicsimage {
    width: 100%;
    height: 100vh;
    max-width: 600px;
    height: auto;
}

.CTimage-text-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    gap: 20px;
}

.CT-contrast {
    position: relative;
    width: 100%;
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EAF4FC;
    color: black;
    flex-direction: column;
}

.CT-contrast-content0 {
    max-width: 800px;
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: center;
}

.CT-contrast h2 {
    max-width: 800px;
    font-size: 3rem;
    line-height: 1.6;
    font-weight: bold;
}

.CT-contrast h3 {
    max-width: 800px;
    font-size: 1.5rem;
    line-height: 1.6;
}

.ctcontrast-img {
    display: block; /* Ensure the image is treated as a block element */
    margin: 0 auto; /* Center the image horizontally */
    max-width: 100%; /* Ensure the image is responsive */
    height: auto;
}

.ctgold {
    background: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
    background: url('gold background.jpg') center/cover no-repeat;
    background-attachment: fixed;
    color: white;
}

.ctgold-content {
    top: 0;
    width: 800px;
    height: auto;
    background: #EAF4FC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    font-size: 1.5rem;
    line-height: 1.6;
}

.ctgold-content h3 {
    color: black;
    max-width: 90%;
    font-size: 1.5rem;
    line-height: 1.5;
}

.ctcontrastimg {
    width: 750px;
}

.ctcons {
    position: relative;
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center; /* Centers content vertically */
    justify-content: center;
    background: #EAF4FC;
    color: white;
}

.PET {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;
}

.PET-content0 {
    width:800px;
    line-height: 1.6;
    text-align: center;
}

.PET h2 {
    max-width: 800px;
    font-size: 3rem;
    line-height: 1.6;
    font-weight: bold;
    margin: 20px 0;
}

.PET h3 {
    max-width: 800px;
    font-size: 1.5rem;
    line-height: 1.6;

}

.petimage-text-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    gap: 50px;
}

.PET2 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #011A5B;
    color: white;
    text-align: center;
}

.PET2-content0 {
    max-width: 800px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.PET2 h2 {
    font-size: 3rem;
    font-weight: bold;
}

.PET2 h3 {
    font-size: 1.5rem;
    line-height: 1.6;
}

.lfa-image {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.image-text-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    gap: 20px;
}

.image-text-row h3 {
    flex: 1;
    text-align: left;
    width:40%
}

.lfa-small-image {
    width: 40%;
    max-width: 300px;
    height: auto;
}

.POC {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: white;
    color: white;
    background: url('diagnostics background.webp') center/cover no-repeat;
    background-attachment:fixed;
}

.poc-content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
}

.POC h2 {
    font-size: 6rem;
    line-height: 1.6;
    font-weight: bold;
    margin:0;
}

.POC h3 {
    font-size: 1.5rem;
    line-height: 1.6;
    padding-bottom: 50px;
}

.locimages {
    background: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
    background: url('loc-background.png.jpg') center/cover no-repeat;
    background-attachment: fixed;
    color: white;
}

.locimage-content {
    top: 0;
    width: 800px;
    height: auto;
    background: rgba(238, 238, 238, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    line-height: 1.6;
}


.locimage-content h2 {
    color: #0037FF;
    font-weight: bold;
    font-size: 3rem;
}

.locimage-content h3 {
    color: black;
    max-width: 90%;
    font-size: 1.5rem;
    line-height: 1.5;
}

.LoC {
    background: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
    background: url('loc-background.png') center/cover no-repeat;
    background-attachment: fixed;
    color: black;
}

.Loc-content {
    top: 0;
    width: 40%;
    height: auto;
    background: rgba(238, 238, 238, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    font-size: 1.5rem;
    line-height: 1.6;
}


.LoC-content h2 {
    color: #0037FF;
    font-weight: bold;
}

.LoC-content h3 {
    color: black;
    max-width: 90%;
    font-size: 1.2rem;
    line-height: 1.5;
}

.loc2 {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;
}

.loc2-content {
    max-width: 800px;
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: center;
}

.LoC2 h3 {
    max-width: 800px;
    font-size: 1.5rem;
    line-height: 1.6;
}

.expand {
    width:500px;
    margin-left:-50px;
}

.laminaricon {
    width:200px;
}

.opticwhite {
    width:300px;
    margin-left:-200px
}

.laminarimage-text-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 100px;
}

.laminarimage-text-row h3 {
    flex: 1;
    text-align: left;
    min-width:300px;
}

.phone {
    margin-left:-200px
}

.last {
    margin-left:100px;
    width: 300px;
}

.PCR {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #011A5B;
    color: white;
}

.PCR-content {
    max-width: 800px;
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: center;
}

.PCR h2 {
    max-width: 800px;
    font-size: 3rem;
    line-height: 1.6;
    font-weight: bold;
}

.PCR h3 {
    max-width: 800px;
    font-size: 1.5rem;
    line-height: 1.6;
}

.pcr-image {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.lfa {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: white;
    color: black;
    text-align: center;
}

.lfa-content {
    max-width: 800px;
    font-size: 1.5rem;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.lfa h2 {
    font-size: 3rem;
    font-weight: bold;
}

.lfa h3 {
    font-size: 1.5rem;
    line-height: 1.6;
}

.lfa-image {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.image-text-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    gap: 20px;
}

.image-text-row h3 {
    flex: 1;
    text-align: left;
}

.lfa-small-image {
    width: 40%;
    max-width: 300px;
    height: auto;
}
  
.wearable {
    background: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
    background: url('wearable-background.jfif') center/cover no-repeat;
    background-attachment: fixed;
    color: white;
}

.wearable-content {
    top: 0;
    width: 800px;
    height: auto;
    background: rgba(238, 238, 238, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    font-size: 1.5rem;
    line-height: 1.6;
}


.wearable-content h2 {
    color: #0037FF;
    font-weight: bold;
    font-size:3rem
}

.wearable-content h3 {
    color: black;
    max-width: 90%;
    font-size: 1.5rem;
    line-height: 1.5;
}

.CGM {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EAF4FC;
    color: black;
}

.CGM-content0 {
    max-width: 800px;
    line-height: 1.6;
    text-align: center;
}

.CGM h2 {
    max-width: 800px;
    font-size: 3rem;
    line-height: 1.6;
    font-weight: bold;
}

.CGM h3 {
    max-width: 800px;
    font-size: 1.5rem;
    line-height: 1.6;
}
  
.CGM-images {
    background: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300vh;
    position: relative;
}


.bandages {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #011A5B;
    color: white;
}

.bandages-content {
    max-width: 800px;
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: center;
}

.bandages h2 {
    max-width: 800px;
    font-size: 3rem;
    line-height: 1.6;
    font-weight: bold;
}

.bandages h3 {
    max-width: 800px;
    font-size: 1.5rem;
    line-height: 1.6;
}

.sticky-container3 {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
}

.sticky-image3, .sticky-image4, .sticky-image5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

.sticky-image3{
    opacity: 1;
}

.CGM-content {
    top: 0;
    width: 40%;
    height: auto;
    background: rgba(238, 238, 238, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    z-index: 1;
    margin-top: -400px;
}

.CGM-content2 {
    top: 0;
    width: 40%;
    height: auto;
    background: rgba(238, 238, 238, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    z-index: 1;
    margin-top: 400px;
}

.CGM-content3 {
    top: 0;
    width: 40%;
    height: auto;
    background: rgba(238, 238, 238, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    z-index: 1;
    margin-top: 560px;
}

.CGM-content h2 {
    color: #0037FF;
    font-weight: bold;
}

.CGM-content h3, .CGM-content2 h3, .CGM-content3 h3 {
    color: black;
    max-width: 90%;
    font-size: 1.5rem;
    line-height: 1.5;
} 

.medicine {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: white;
    color: white;
    background: url('Medicine background.jpg') center/cover no-repeat;
    background-attachment:fixed;
}

.medicine-content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.medicine-content h2 {
    font-size: 6rem;
    line-height: 1.6;
    font-weight: bold;
}

.medicine-content h3 {
    font-size: 1.5rem;
    line-height: 1.6;
}

.nanopore {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
    background: url('nanopore sequencing real life.jpg') center/cover no-repeat;
    background-attachment: fixed;
    color: black;
    overflow:hidden;
}

.nanopore-content0 {
    top: 0;
    width: 800px;
    height: auto;
    background: rgba(238, 238, 238, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    line-height: 1.6;
}


.nanopore-content0 h2 {
    color: #0037FF;
    font-weight: bold;
    font-size:3rem;
}

.nanopore-content0 h3 {
    color: black;
    max-width: 90%;
    font-size: 1.5rem;
}

/* Video Transition Section */
.nanopore-videos {
    background: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400vh; /* Increased height for smooth transitions */
    position: relative;
}

.sticky-container4 {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
}

.sticky-video2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
}

.video5 {
    opacity: 1; /* The first video is visible initially */
}


.nanopore-content1 {
    top: 0;
    width: 40%;
    height: auto;
    background: rgba(238, 238, 238, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    z-index: 1;
    margin-top: 220px;
}

.nanopore-content2 {
    top: 0;
    width: 40%;
    height: auto;
    background: rgba(238, 238, 238, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    z-index: 1;
    margin-top: 300px;
}

.nanopore-content3 {
    top: 0;
    width: 40%;
    height: auto;
    background: rgba(238, 238, 238, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    z-index: 1;
    margin-top: 380px;
}

.nanopore-content4 {
    top: 0;
    width: 40%;
    height: auto;
    background: rgba(238, 238, 238, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    z-index: 1;
    margin-top: 460px;
}


.nanopore-content1 h3, .nanopre-content2 h3, .nanopore-content3 h3, .nanopore-content4 h3 {
    color: black;
    max-width: 90%;
    font-size: 1.5rem!important;
    line-height: 1.5;
}

.nanopore2 {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
    color: black;
}

.nanopore2-content {
    top: 0;
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    font-size: 1.5rem;
    line-height: 1.6;
}


.nanopore2-content h2 {
    color: #0037FF;
    font-weight: bold;
}

.nanopore2-content h3 {
    color: black;
    max-width: 90%;
    font-size: 1.2rem;
    line-height: 1.5;
}

.Nanobeads {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #011A5B;
    color: white;
}

.nanobeads-content {
    top: 0;
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    line-height: 1.6;
}

.Nanobeads h2 {
    max-width: 800px;
    font-size: 3rem;
    line-height: 1.6;
    font-weight: bold;
}

.Nanobeads h3 {
    max-width: 800px;
    font-size: 1.5rem;
    line-height: 1.6;
}

.nanobead-images {
    background: #011A5B;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300vh;
    position: relative;
}

.sticky-container5 {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
}

.sticky-image6, .sticky-image7, .sticky-image8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

.sticky-image6{
    opacity: 1;
}

.nanobead-content1 {
    top: 0;
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    z-index: 1;
    margin-top: -500px;
    margin-left:-800px;
    color: white;
    font-size: 1.5rem;
}

.nanobead-content2 {
    top: 0;
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    z-index: 1;
    margin-top: 200px;
    margin-left:800px;
    color: white;
    font-size:1.5rem;
}

.nanobead-content3 {
    top: 0;
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    z-index: 1;
    margin-top: 300px;
    margin-left:-800px;
    color: white;
    font-size: 1.5rem;
}


.Nanobeads2 {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #011A5B;
    color: white;
}

.nanobeads2-content {
    top: 0;
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    line-height: 1.6;
}

.Nanobeads2 h3 {
    max-width: 800px;
    font-size: 1.5rem;
    line-height: 1.6;
}

.risks {
    background: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
    background: url('risk-background.png') center/cover no-repeat;
    background-attachment: fixed;
    color: white;
}

.risks-content {
    top: 0;
    width: 800px;
    height: auto;
    background: rgba(238, 238, 238, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    line-height: 1.6;
}


.risks-content h2 {
    color: #0037FF;
    font-weight: bold;
    font-size: 5rem;
}

.risks-content h3 {
    color: black;
    max-width: 90%;
    font-size: 1.5rem;
    line-height: 1.5;
}

.future {
    background: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
    background: url('Spinning-DNA-Blue.webp') center/cover no-repeat;
    background-attachment: fixed;
    color: white;
}

.future-content {
    top: 0;
    width: 800px;
    height: auto;
    background: rgba(238, 238, 238, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    line-height: 1.6;
}

.future-content h2 {
    color: #0037FF;
    font-weight: bold;
    font-size: 5rem;
}

.future-content h3 {
    color: black;
    max-width: 90%;
    font-size: 1.5rem;
    line-height: 1.5;
}

.future-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 55, 255, 0.27);
    z-index: 0;
}

.references-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: #0037FF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.references-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.references-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 50%;
    color: black;
    max-height: 80vh; /* Limit the height */
    overflow-y: auto; /* Add scroll for overflow content */
}

.references-content ul li a {
    color: blue;
    text-decoration: none;
}

.references-content ul li a:hover {
    text-decoration: underline;
}

.references-content h2 {
    text-align: center;
}

.references-content ul {
    text-align: left;
}
